<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yudianxx.springBootDemo.mapper.image.ImageHandleMapper">
    <select id="getCompletePicture" resultType="com.yudianxx.springBootDemo.model.responseVo.MeiziTuPictureResponseVo">
        SELECT
        ti.id as imageId,
        ti.title,
        ti.image_link AS imageLink,
        tm.id AS modelId,
        tm.NAME AS modelName,
        tc.NAME AS collectionName,
        tc.id AS collectionId,
        tca.id AS catogoryId,
        tca.NAME AS catogoryName
        FROM
        t_images ti
        LEFT JOIN t_model tm ON ti.model_id = tm.id
        LEFT JOIN t_collection tc ON ti.collection = tc.id
        LEFT JOIN t_category tca ON tca.id = ti.category
        WHERE
        1 =1
        <if test="imageId != null">
            AND ti.id=#{imageId}
        </if>
        <if test="modelId != null">
            AND tm.id=#{modelId}
        </if>
        <if test="categoryId != null">
            AND tca.id=#{categoryId}
        </if>
        <if test="collectionId != null">
            AND tc.id=#{collectionId}
        </if>
        and ti.suggestion ="PASS"
    </select>

    <select id="getCompletesImagesByCondition"
            resultType="com.yudianxx.springBootDemo.model.responseVo.MeiziTuPictureResponseVo">
        SELECT
        ti.id as imageId,
        ti.title,
        ti.image_link AS imageLink,
        tm.id AS modelId,
        tm.NAME AS modelName,
        tc.NAME AS collectionName,
        tc.id AS collectionId,
        tca.id AS catogoryId,
        tca.NAME AS catogoryName,
        ti.picture_type AS pictureType

        FROM
        t_images ti
        LEFT JOIN t_model tm ON ti.model_id = tm.id
        LEFT JOIN t_collection tc ON ti.collection = tc.id
        LEFT JOIN t_category tca ON tca.id = ti.category
        WHERE
        1 =1
        <if test="imageId != null">
            AND ti.id=#{imageId}
        </if>
        <if test="modelId != null">
            AND tm.id=#{modelId}
        </if>
        <if test="categoryId != null">
            AND tca.id=#{categoryId}
        </if>
        <if test="collectionId != null">
            AND tc.id=#{collectionId}
        </if>
        and ti.suggestion ="PASS"

    </select>


    <select id="getBannerPictures"
            resultType="com.yudianxx.springBootDemo.model.responseVo.MeiziTuPictureResponseVo">
        SELECT
        ti.id as imageId,
        ti.title,
        ti.image_link AS imageLink,
        tm.id AS modelId,
        tm.NAME AS modelName,
        tc.NAME AS collectionName,
        tc.id AS collectionId,
        tca.id AS catogoryId,
        tca.NAME AS catogoryName

        FROM
        t_images ti
        LEFT JOIN t_model tm ON ti.model_id = tm.id
        LEFT JOIN t_collection tc ON ti.collection = tc.id
        LEFT JOIN t_category tca ON tca.id = ti.category
        WHERE
        1 =1
        and ti.suggestion ="PASS"
        	AND ti.picture_Type = #{pictureType}
				ORDER BY RAND() LIMIT 5;

    </select>


    <select id="getModelHomeBackgroundInfo"
            resultType="com.yudianxx.springBootDemo.model.responseVo.MeiziTuPictureResponseVo">
                   SELECT
                max( ti.id ) AS imageId,
                tm.NAME AS modelName,
                ti.image_link AS imageLink,
                count( DISTINCT ti.collection ) AS collectionSum
            FROM
                t_images ti
                LEFT JOIN t_model tm ON ti.model_id = tm.id
                LEFT JOIN t_collection tc ON tc.id = ti.collection
            WHERE
                tm.id = #{modelId}
                AND ti.suggestion = "PASS"
            ORDER BY
                ti.id DESC
                LIMIT 1
    </select>

    <select id="getModelHomeBackgroundInfoOfCollection"
            resultType="com.yudianxx.springBootDemo.model.responseVo.MeiziTuPictureResponseVo">
SELECT
	ti.model_id AS modelId,
	tc.id AS collectionId,
	tc.NAME AS collectionName,
	ti.image_link AS imageLink,
	count( ti.id ) AS pictureSum
FROM
	t_collection tc
	LEFT JOIN t_images ti ON tc.id = ti.collection
WHERE
	ti.model_id = #{modelId}
	AND ti.suggestion = "PASS"
GROUP BY
	tc.id;

   </select>

    <select id="getRandomPictureByModelId"
            resultType="com.yudianxx.springBootDemo.model.responseVo.MeiziTuPictureResponseVo">
     SELECT ti.id as imageId,
        ti.title,
        ti.image_link AS imageLink,
        tm.NAME AS modelName,
        tc.NAME AS collectionName,
        tca.NAME AS catogoryName
        FROM
        t_images ti
        LEFT JOIN t_model tm ON ti.model_id = tm.id
        LEFT JOIN t_collection tc ON ti.collection = tc.id
        LEFT JOIN t_category tca ON tca.id = ti.category
        WHERE
        1 =1
				AND tm.id = #{modelId}
				AND ti.id >=
				FLOOR((SELECT ((MAX(id)-MIN(id)+1)*RAND()+MIN(id)) FROM t_images WHERE model_id =#{modelId}))
				LIMIT #{count};
    </select>

  <!--  <select id="getOneRandomPicturesIdByModeId" resultType="java.lang.Long">
    SELECT IFNULL(FLOOR((SELECT ((MAX(id)-MIN(id)+1)*RAND()+MIN(id)) FROM t_images WHERE model_id =#{modelId} AND suggestion='PASS'
    AND picture_type =#{pictureType}
    )),0)
    </select> -->

    <select id="getOneRandomPicturesIdByModeId" resultType="java.lang.Long">
  	SELECT id FROM t_images WHERE model_id =#{modelId} AND suggestion='PASS'
    AND picture_type =#{pictureType}
    </select>



</mapper>