<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yudianxx.springBootDemo.mapper.image.ModelMapper">
    <select id="getRandomModelCount" resultType="com.yudianxx.springBootDemo.model.image.Model">

 select * from t_model where id
  &gt;=
 FLOOR((SELECT (MAX(id)-MIN(id)+1)*RAND()+MIN(id) FROM t_model)) LIMIT
      #{count};
    </select>
</mapper>